<!DOCTYPE html>
<html>
  <head>
    <title>DogEared</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="<%= image_url("screenshot.png") %>"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dc2325b068.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" sizes="64x64" href="<%= image_url("dog-face3.svg") %>"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      
    </script>   
    
  
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
